{% extends 'base.html' %}
{% load static %}
{% block title %}Home{% endblock %}
{% block content %}
    <div class="container">
        <h1 class="text-center mt-5">Web App Spotify</h1>
        <p>Dados da API do spotify (<a target="_blank" href="https://developer.spotify.com/documentation/web-api">https://developer.spotify.com/documentation/web-api</a>)</p>
            <form class="row g-3">
                <div class="col-8">
                  <input type="password" class="form-control" id="inputArtist" placeholder="Busque um artista">
                </div>
                <div class="col-auto">
                  <button type="submit" class="btn btn-primary mb-3">Buscar artista</button>
                </div>
              </form>
    </div>    
{% endblock %}